[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs/libs/smart-tab"]
	path = emacs/libs/smart-tab
	url = https://github.com/genehack/smart-tab.git
[submodule "emacs/libs/coffee-mode"]
	path = emacs/libs/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
